<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- fall back to local jQuery -->
        <script>window.jQuery || document.write('<script src="javascript/jquery-1.11.0.min.js">\x3C/script>')</script>
        <script src='/javascript/front.js'></script>
    </head>
    <body>
        <section id="top-bar">
            <input type="button" id="sync-button" value="Sync">
            <span><%= title %></span>
            <input type="button" id="new-note-button" value="New Note">
            <input type="search" placeholder="search">
            <menu id="options"></menu>
        </section>
        
        <section id="notes">
        </section>
    </body>
</html>