<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- fall back to local jQuery -->
        <script>window.jQuery || document.write('<script src="javascript/jquery-1.11.0.min.js">\x3C/script>')</script>
        <script src='/javascript/jquery.autosize.min.js'></script>
        <script src='/javascript/front.js'></script>
    </head>
    <body>
        <section id="top-bar">
            <input type="button" id="sync-button" value="Sync">
            <span><%= title %></span>
            <input type="button" id="new-note-button" value="New Note">
            <div class="right">
                <input type="search" placeholder="search">
                <input type="button" id="login-button" value="Log In" onclick="location.href='/login'">
                <input type="button" id="logout-button" value="Log Out" onclick="location.href='/logout'">
            </div>
            <menu id="options"></menu>
        </section>
        
        <section id="notes">
        </section>
        <input type="button" id="load-notes-button" value="Load more">
    </body>
</html>