<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- fall back to local jQuery -->
        <script>window.jQuery || document.write('<script src="javascript/jquery-1.11.0.min.js">\x3C/script>')</script>
        <script src='/javascript/jquery.autosize.min.js'></script>
        <script src='/javascript/front.js'></script>
    </head>
    <body>
        <section id="about" class="center">
            <h1> 
                Jot is a simple note taking application. 
            </h1>
            <p>
                It is currently it early pre-alpha stages. 
                <br />It still has many bugs, and is subject to change at any time. 
            </p>
            <br />
            <div class="center">
                <a href="/login" class="button highlight">Log In with Evernote Sandbox Account</a>
            </div>
        </section>
    </body>
</html>