highlight-color = orange
highlight-mid = #F39F05
highlight-darker = #EC9B06

/* apply a natural box layout model to all elements */
*, *:before, *:after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box 
    box-sizing border-box

body
    margin 0
    font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
    color #00B7FF

input[type=button]
    cursor pointer

#top-bar
    background-color #eee
    position fixed
    width 100%
    top 0
    box-shadow 0 1px 3px #999
    .right
        float right
    input[type='search']
        display none
    menu
        display none

#notes
    margin-top 3em

.note
    margin 20px
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif
    box-shadow 0 1px 2px #999 
    .title
        font-size 20px
        width 100%
        padding .25em 20px
        border none 
        outline none
        background none
    .content
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
        width 100%
        padding 0px 20px
        margin-top 10px
        margin-bottom 5px
        border none
        outline none
        background none
        resize none
        /*height 20em*/
    .options
        visibility hidden
    &:hover .options
        visibility visible
    &.active
        border-left 4px solid highlight-color
        .options
            visibility visible

.center
    margin-left auto
    margin-right auto

.button
    text-decoration none
    color white
    border-radius 5px
    box-sizing content-box
    padding 10px
    &:hover
        background-color highlight-mid
    &:active
        background-color highlight-darker
        border 1px solid rgba(0,0,0,0.1)

.highlight
    background-color highlight-color


#about
    width 400px
    text-align center


@media all and (min-width: 701px)
    .note
        width 700px
        margin-left auto
        margin-right auto

